{% extends "template.html" %}
{% load static %}
{% block stylesheet %}
<link href="{% static "css/shop-homepage.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default square-edge active">Popular</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default square-edge">New</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default square-edge">Deals</button>
                </div>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item square-edge">Category 1</a>
                <a href="#" class="list-group-item square-edge">Category 2</a>
                <a href="#" class="list-group-item square-edge">Category 3</a>
            </div>
        </div>

        <div class="col-md-9">
                {% if item_list %}
                    {% for item in item_list %}
                        {% include "product/card.html" with item=item %}
                    {% endfor %}
                {% else %}
                    <p>Unfortunately, no items match the query.</p>
                {% endif %}

                
        </div>
 
    </div>

</div>
{% endblock %}